<div class="text-center text-gray-400">
    <img
      class="mx-auto mb-4 w-36 h-36 rounded-full"
      src="https://img.freepik.com/fotos-premium/3d-renderizacao-de-personagem-masculino-barbudo-de-meio-corpo-usando-oculos-e-flanela-vermelha_477250-77.jpg?w=740"
      alt="Bonnie Avatar"
    />
    <h3 class="mb-1 text-2xl font-bold tracking-tight text-white">
      <a href="#">Ernesto</a>
    </h3>
    <p>Escritor - Exnadaista</p>
  </div>