<div class="text-center text-gray-400">
    <img
      class="mx-auto mb-4 w-36 h-36 rounded-full"
      src="https://img.freepik.com/psd-gratis/3d-ilustracion-persona-gafas-sol_23-2149436200.jpg?w=740&t=st=1707171503~exp=1707172103~hmac=be9cfa23c9628869974758700a072659aa5499f1b638a0102be15e412fd14caa"
      alt="Bonnie Avatar"
    />
    <h3 class="mb-1 text-2xl font-bold tracking-tight text-white">
      <a href="/authors/sergioDev">Sergio Dev</a>
    </h3>
    <p>Programador</p>
  </div>