---
import Card from "../components/Card.astro";
import BentoItems from "../components/BentoItems.astro";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Artículos";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<Layout pageTitle={pageTitle}>
  <section class="flex flex-wrap justify-center py-2">
    {
      allPosts.map((post) => (
        <Card
          url={post.url}
          title={post.frontmatter.title}
          description={post.frontmatter.description}
        />
      ))
    }
  </section>
</Layout>
