---
import Layout from "../layouts/Layout.astro";
import AuthorItemsErnesto from "../components/autores/AuthorItemsErnesto.astro";
import AuthorItemsSergioDev from "../components/autores/AutthorItemsSergioDev.astro";

const pageTitle = "Autores";
---

<Layout pageTitle={pageTitle}>
  <section class="bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-lg text-center lg:py-16 lg:px-6">
      <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">
          Nuestro Equipo.
        </h2>
        <p class="font-light sm:text-xl text-gray-400">
          Explore las diferentes referencias y apreciaciones de nuestros
          autores.
        </p>
        <p>
          Para la creación del contenido visual y escrito, el director de este
          blog ha tenido que idealizar e imitar el método que alguna vez utilizo
          el poeta Fernando Pessoa:
          <br />
          <span class="text-yellow-300">la heterónima:</span> inventar personajes
          ficticios literarios.
        </p>
      </div>
      <div
        class="grid gap-5 lg:gap-10 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2"
      >
        <AuthorItemsSergioDev />
        <AuthorItemsErnesto />
      </div>
    </div>
  </section>
</Layout>
