---
const { title, url, description, image } = Astro.props;
---

<article
  class={`
col-span-5
  relative rounded-xl
  backdrop-blur-md
  border border-black/10
  shadow-inner shadow-white/30
  overflow-hidden
  group
`}
>
  <div
    class="relative z-20 flex h-full select-none flex-col justify-end gap-1 p-4 text-lg md:p-6"
  >
  <a href={url} class="text-2xl font-bold text-balance mb-4">{title}</a>
  <p>{description}</p>
  </div>
  
</article>
