<header class="sticky top-0 h-[90px] shadow-xl z-30 bg-primary">
  <div
    class="container mx-auto flex justify-between h-full items-center text-white"
  >
    <a href="#">
      <img src="/src/assets/logo.webp" class=" h-16 w-50"/>
    </a>
    <nav>
      <div class="cursor-pointer lg:hidden" id="nav_trigger_btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="38"
          height="38"
          fill="rgba(255,255,255,1)"
          ><path d="M16 18V20H5V18H16ZM21 11V13H3V11H21ZM19 4V6H8V4H19Z"
          ></path></svg
        >
      </div>
      <ul
        class="fixed w-full h-0 p-0 text-white overflow-hidden border-t top-[90px] left-0 right-0 flex flex-col gap-4 lg:relative lg:flex-row lg:p-0 lg:top-0 lg:border-none lg:h-full transition-all duration-300 bg-primary items-center"
        id="nav_menu"
      >
        <li><a href="/">Inicio</a></li>
        <li><a href="/articulos">Artículos</a></li>
        <li><a href="/autores">Autores</a></li>
      </ul>
    </nav>
  </div>
</header>

<script>
  import "../scripts/main";
</script>

<style>
  .nav-is-open {
    @apply h-[350px] p-6;
  }
</style>
