<section class="bg-white dark:bg-gray-900">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
      ¿Qué es y para qué es este portal?
      </h2>
      <p class="mb-4">
        El Puerto Independiente es un portal web de código abierto, que nace
        como parte del autoaprendizaje en programación de software. El puerto
        Inde, publicara artículos o textos de interés general, pero por su ya
        marcadas tendencias casi siempre se va por lo literario, culpa del
        editor, culpa del programador. .
      </p>
      <p>
        Para la creación del contenido en general del Puerto Inde, se han creado
        dos departamentos: El departamento de la app, que mantiene y actualiza
        la web app(Lenguaje de programación). Y un segundo que se encarga de la
        construcción y edición de los textos.
      </p>
      <p>
        Esta pagina web fue construida con Astro y bajo la dirección y
        programación de Sergio Arrieta, así mismo su estilado fue creado con
        Tailwind.
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <img
        class="w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png"
        alt="office content 1"
      />
      <img
        class="mt-4 w-full lg:mt-10 rounded-lg"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png"
        alt="office content 2"
      />
    </div>
  </div>
</section>
