---
const navItems = [
  {
    title: "Inicio",
    url: "/",
  },
  {
    title: "Artículos",
    url: "/articulo",
  },
  {
    title: "Autores",
    url: "/autores",
  },
  {
    title: "contacto",
    url: "/contacto",
  },
];
---

<nav >
  {
    navItems.map((link) => (
      <a
        class=" hover:text-gray-400 rounded-full  px-5 transition text-xl"
        href={link.url}
      >
        {link.title}
      </a>
    ))
  }
</nav>
