---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout>
  <section class="pt-8 pb-16 lg:pt-10 lg:pb-24 bg-gray-900 antialiased">
    <article class="mx-auto w-full">
      <h1
        class="mb-4 text-3xl font-extrabold leading-tight lg:mb-6 lg:text-4xl text-white text-center"
      >
        {frontmatter.title}
      </h1>
      <div class="h-60 w-60 ">
        <img class=" rounded-full" src={frontmatter.image.url} alt={frontmatter.image.alt} />
      </div>
      <slot />
    </article>
  </section>
</Layout>
