---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout>
  <section class="bg-gray-900">
    <div
      class="py-8 px-4 mx-auto max-w-screen-lg text-justify lg:py-16 lg:px-6"
    >
      <article class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
        <h1
          class="mb-4 text-3xl font-extrabold leading-tight lg:mb-6 lg:text-4xl text-white text-center"
        >
          {frontmatter.title}
        </h1>
        <div class="text-center text-gray-400 pb-5">
          <img
            class="mx-auto mb-4 w-36 h-36 rounded-full"
            src={frontmatter.image.url}
            alt={frontmatter.image.alt}
          />
        </div>
        <slot />
      </article>
    </div>
  </section>
</Layout>
